// Global Stylesheet

// Color Palette
$primary-color: gold;
$secondary-color: purple;

//Typography
body {font-family: 'Open Sans', sans-serif;
}


//Hide for Mobile & Tablet 
article h1 {
    display: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: slategrey;
    font-size: 4em;
    margin: 0px;

}

h2 {
    text-align: center;
    color: slategrey;
    font-size: 2em;

}

img {
    width: 100%;
    height: 100%;
}

.char9 {
    color: antiquewhite;
}
.char10 {
    color: antiquewhite;
}
.char11 {
    color: antiquewhite;
}
.char12 {
    color: antiquewhite;
}

p {
    margin: 0px;
    padding: 25px;
    text-align: justify;
    color: slategrey;
}

aside a {
    color: slategray;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
}

aside li:hover {
    background: antiquewhite;
    
}


ul {
    list-style: none;
    padding: 0px;   
}

footer p {
    text-align: center;
    padding: 10px;
    margin: 10px;
}




// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}